header{
    border-bottom: 2px solid #682e3e;
    display: flex;
    margin-bottom: 0px;
    
}
.logo{
    width: 170px;
   
}
.title{
    font-size: 50px;
    margin: 0;
    text-align: center;
    padding-top: 40px;
    flex-grow: 1;
}
html{
    font-family:'Segoe UI';
}
main{
    display: flex;
    flex-direction: row;
    

}
ul{
    
    padding-top:  50px;
    padding-left: 50px;
    padding-right: 50px;
    
    margin-bottom:none ;
    
    margin-top: 0px;
    box-sizing: border-box;
    border-radius: 30px ;
    
}
li:hover{
    
    list-style:disc;
    scale: 1.1;
    transition: 0.3s;
    cursor: pointer;
    color: #682e3e;
    font-weight: bold;
    
}
li{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}
.content{
    border-left:2px solid #682e3e;
    margin-bottom: 0px;
    flex-grow: 1;
}

footer{
    margin-top: 0px;
    background: #682e3e;
    color: white;
    padding: 10px;
    height: 10vh;
}
.matchs{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.match-a-venir h2 {
    text-align: center;

}
.box-item{
    display: flex;
    flex-direction: row;
    font-family: arial;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px rgb(114, 114, 114);
    border: 2px solid lightgray;
    padding: 2rem;
    gap: 1rem;
}
.liste-complete{
    text-align: center;
    padding-top:10px;
    margin-top: 0px;
}
a{
    text-decoration: none;
    color: #682e3e;
    
}
.liste-complete:hover{
    
    list-style:disc;
    scale: 1.1;
    transition: 0.3s;
    cursor: pointer;
    color: #682e3e;
    font-weight: bold;
    
}
.logo-match{
    max-width: 50px;
   
    border-radius: 50%;
    box-shadow: 0px 0px 5px #0000003a;

}
.box-item:hover{
    scale: 1.05;
    transition: 0.3s;
}
.introduction-volley h2{
    text-align: center;
}
.introduction-volley section{
   display: flex;
   justify-content: center;
    
}
.introduction-volley section p{
    max-width: 700px;
    text-align: justify;
    padding-bottom: 20px;
}
.photo-equipe{
    display: flex;
    flex-direction: column;
    
}
.photo-equipe img{
    max-width: 700px;
    flex:1;
    align-self: center;
    
    
}
.photo-equipe h2{
    text-align: center;
    
    
}

@media (max-width:1000px){
    main{
        display: flex;
        flex-direction: column;
        
    }
    nav{border-bottom: 2px solid #682e3e ;}
    ul {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .matchs{
        flex-direction: column;
    }
    .content{border-left: 0px solid white;}
    .box-item{
        justify-content: center;
    }
    ul{
        padding-top: 10px;
    }
}